
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd


# Virtual Environment
.venv/
venv/
env/


# Environment Variables

.env
.env.*
!.env.example


# ChromaDB / Vector Store
storage/chroma/


# Uploaded / Generated Data

data/*
!app/data/.gitkeep


# FastAPI

.pytest_cache/
.mypy_cache/
.ruff_cache/


# IDE

.vscode/
.idea/


# macOS

.DS_Store


# Logs

*.log